<!DOCTYPE html>
<html>
  <head>
    <title>AlexiNote</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      <% end %>
    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
